@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Young+Serif&display=swap');

.Root {
    height: 100vh;
    position: relative;
    display: flex;
}

.TextWrapper {
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    border-radius: 25px;
    padding: 50px;
}

.Title {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4.5rem;
    margin-bottom: 3rem;
}

.TitleMobile{
    display: none;
}

.Date {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

.Background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
    justify-content: center;
}

.BgLeft {
    flex-grow: 1;
    background: url('../../assets/images/left.JPG') center/cover no-repeat;
}

.BgCenter {
    background: url('../../assets/images/center.JPG') center/cover no-repeat;
    flex-basis: 800px;
}

.BgRight {
    background: url('../../assets/images/right.JPG') center/cover no-repeat;
    flex-grow: 1;
}

@media (max-width: 800px) {
    .Title {
        font-size: 3rem;
    }
}

@media (max-width: 500px) {

    .TextWrapper {
        padding: 20px;
    }

    .Title {
        display: none;
    }

    .TitleMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    .TitleMobile span {
        font-family: "Great Vibes", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
        margin-bottom: 5px;
    }

    .Date {
        font-size: 2.5rem;
    }
}